extends ./layout/index

block slider 
  .slider 
    h1 Rio de Janeiro
    em aventura

block contenido
  main.container.mt-5
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non dignissim lectus. Donec ultrices gravida justo nec porttitor. Sed at ex a augue posuere accumsan vel nec nibh. Nulla ullamcorper non lacus id lacinia. Ut non pharetra metus. 
        
        p lacinia eget varius vitae, condimentum pulvinar elit. Suspendisse quis urna eget eros gravida pretium nec vel purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")
    
    include ./layout/bloque_viajes
    
  .descuento 
    .container 
      .row 
        .col-md-6 
          .contenido 
            h3 5% de Descuento
            p.titulo Viaje a Canada 
            p.fecha 20 de Marzo de 2023 - 28 de mayo de 2023  
            p.precio $2,000 Dolares  
            
  .container
    h2.mt-5.text-center Testimoniales
    
    include ./layout/bloque_testimoniales