extends ./layout/index

block contenido

  main.container.mt-5
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="imagen nosotros" class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae felis vitae dolor blandit pulvinar. Sed purus ante, ultrices eget condimentum sagittis, laoreet sit amet est. Nam finibus sed quam ullamcorper mattis.
        
        p Pellentesque varius velit sit amet sapien gravida, in malesuada libero consequat. Nam commodo dolor ut eros blandit fermentum. Phasellus pharetra aliquam erat, id finibus lorem fermentum id.
        
        p nteger non nisi placerat, lobortis lectus et, luctus ante. Nam malesuada lorem faucibus dolor mollis, convallis porta nisi ullamcorper. Morbi tempus convallis bibendum. Donec egestas vestibulum venenatis. Praesent id rutrum ex. Sed euismod ex eget sem imperdiet sagittis. Suspendisse vulputate elementum dui, sed fermentum justo blandit a.
  
  .listado-iconos 
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="imagen seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati fugiat corporis ad itaque nulla
          
        .col-md-4
          img(src="img/icono_destinos.svg", alt="imagen destinos" class="img-fluid mb-4")
          h2.mb-4 Destinos 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati fugiat corporis ad itaque nulla
          
        .col-md-4
          img(src="img/icono_precios.svg", alt="imagen precios" class="img-fluid mb-4")
          h2.mb-4 Precios 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati fugiat corporis ad itaque nulla
    